body {font-family: "Source Sans Pro",sans-serif !important;color: #666;margin: 0 !important;}
main {max-width: 1200px;margin: 0 auto;}
.fa {font-family: "FontAwesome","Source Sans Pro",sans-serif;}
#primary-menu li {padding: 0 25px 0 0;}
#primary-menu li:last-child {padding: 0;}
#category-menu>li>a {width: 200px;}
#category-menu>li>a>i, #phone-menu>li>a>i:last-child {padding: 0 0 0 10px;}
#category-navigation {width: 215px;}
.sub-menu a {padding: 5px;}
.sub-menu li:first-child {padding-top: 5px;}
.sub-menu li:last-child {padding-bottom: 10px;}
#category-menu li:hover > ul, .main-navigation ul li.focus > ul {left: -41px;top: 22px;width: 215px;padding: 3px 10px 10px 10px;border-bottom: 1px solid rgba(255,255,255,.75);border-left: 1px solid rgba(255,255,255,.75);border-right: 1px solid rgba(255,255,255,.75);border-radius: 5px;border-top: 5px solid transparent;}
#phone-menu li:hover > ul, .main-navigation ul li.focus > ul {left: -5px;top: 24px;width: 198px;border-bottom: 1px solid rgba(255,255,255,.75);}
.search-submit {display: none;}
.search-field {margin: 20px 15px 20px 0;padding: 9px;color: #fff;background-color: transparent;border: 1px solid rgba(255,255,255,.75);border-radius: 5px;}
.search-field::placeholder {color: rgba(255,255,255,.75);font-size: 16px;text-transform: lowercase;}
.search-field:-ms-input-placeholder {color: rgba(255,255,255,.75);font-size: 16px;text-transform: lowercase;}
.search-field::-ms-input-placeholder {color: rgba(255,255,255,.75);font-size: 16px;text-transform: lowercase;}
.secondary-navigation {clear: both;display: flex;align-items: flex-start;}
#category-navigation {margin: 20px 15px 0 15px;padding: 5px 40px;border: 1px solid rgba(255,255,255,.75);border-radius: 5px;}
#phone-navigation {margin: 0 15px;padding: 14px 0 0 0;border: none;font-size: 16px;font-weight: bold;}
#text-2 {clear: both;margin: 0 15px;padding: 0 20px;color: #fff;font-size: 16px;}
.wp-block-button__link {border-radius: 5px;padding: 8px 18px;font-size: 16px;font-weight: bold;}
.has-vivid-red-color.white {color: #fff;}
.has-vivid-red-color.has-vivid-red-color {color: #fa7268;}
.has-vivid-red-color.white {color: #fff;}
.is-style-outline .wp-block-button__link {transition: .3s;}
.is-style-outline .wp-block-button__link:hover {color: #fff;background: #fa7268;border: 2px solid #fa7268;transition: .3s;}
.home-head-title {padding: 70px 0;width: 100%;height: 80vh;background-repeat: no-repeat;background-size: cover;background-position: center;color: #fff;margin: 0 auto;text-align: center;}
.home-head-title strong {font-size: 38px;}
.home-head-title div {font-size: 24px;}
h2, h1.page-title, h1.entry-title {display: flex;flex-direction: column;justify-content: center;text-align: center;}
h2:after, h1.page-title:after, h1.entry-title:after {content: "";width: 140px;margin: 0 auto;border-bottom: 2px solid #114867;border-radius: 25%;}
.entry-title a {margin-left: 130px;}
h2 a, .entry-title a {text-decoration: none;color: #114867;transition: .3s;}
h2 a:visited, .entry-title a:visited {color: #114867;}
h2 a:hover, .entry-title a:hover {color: #fa7268;transition: .3s;}
h4, .textwidget>p {margin: 0;}
.site-header, .site-footer {display: flex;justify-content: space-around;background-color: #114867;padding: 25px 25px 0 25px;color: #fff;}
.site-footer {align-items: flex-start;}
.social-links>div>p {display: flex;justify-content: space-between;font-size: 28px;}
a[title="YouTube"] {font-size: 27px;}
.social-links>div>p>a, .site-footer a {color: #fff;text-decoration: none;}
.footer-info-area>div>p>i {margin-right: 5px;}
.footer-info-area>div>p {margin-bottom: 20px;}
.logo-social-block>a>img {margin-bottom: 15px;}
.main-navigation li {padding: 0 20px;}
.main-navigation a {color: #fff;transition: .2s;}
.main-navigation a:hover {color: #fa7268;transition: .2s;}
.main-navigation {border-bottom: 2px solid #88a4b3;}
.sp-pc-post-box {height: 350px;width: 220px;}
.slick-arrow {border-radius: 100%;}
.site-content {min-height: 63.5vh;}
.wp-block-columns, .sp-post-carousel-section, .card-post-slider, .card-comment-slider, .entry-content>p, figure {margin: 0 130px;}
.entry-content>.wp-block-button {margin: 24px 130px;}
.question_container {margin: 15px 130px;}
.card-post {margin: 20px 7.5px;width: 220px;min-height: 372px !important;border-radius: 5px;-webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,.55);-moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,.55);box-shadow: 0px 5px 10px 0px rgba(0,0,0,.55);transition: .3s;}
.card-post:hover {-webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,.75);-moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,.75);box-shadow: 0px 5px 10px 0px rgba(0,0,0,.75);transition: .3s;}
.card-post-thumbnail {height: 150px;overflow: hidden;}
.card-post-thumbnail img {width: 100%;border-top-left-radius: 5px;border-top-right-radius: 5px;}
.card-post-title {font-weight: bold;padding-top: 20px;}
.card-post-title, .card-post-excerpt {margin: 0 40px;font-size: 14px;}
.card-post-read-more-link {text-align: right;margin-bottom: 20px;}
.card-post-read-more-link a {font-weight: bold;color: #fa7268;text-decoration: none;border-bottom: 2px solid transparent;transition: .3s;}
.card-post-read-more-link a:hover {border-bottom: 2px solid #fa7268;border-radius: 1px;transition: .3s;}
.card-comment {margin: 20px;width: 220px;height: 410px !important;border-radius: 5px;-webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,.55);-moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,.55);box-shadow: 0px 5px 10px 0px rgba(0,0,0,.55);transition: .3s;text-align: center;}
.card-comment:hover {-webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,.75);-moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,.75);box-shadow: 0px 5px 10px 0px rgba(0,0,0,.75);transition: .3s;}
.card-comment-avatar img {margin: 20px auto 0 auto;border-radius: 50%;}
.card-comment-user {margin: 15px 30px;}
.card-comment-text {margin: 0 30px;}
.card-comment-date {text-align: right;margin: 15px 40px;}
.card-comment-user a {font-weight: bold;color: #114867;text-decoration: none;border-bottom: 2px solid transparent;transition: .3s;}
.card-comment-user a:hover {color: #fa7268;border-bottom: 2px solid #fa7268;transition: .3s;}
.slick-prev:before, .slick-next:before {font-size: 25px;color: #114867;transition: .3s;}
.slick-prev:hover:before, .slick-next:hover:before {color: #fa7268;transition: .3s;}
.slick-dots li button:before {font-size: 12px;}
.slick-dots li.slick-active button:before {opacity: .75;color: #114867;}
.card-post-page {display: flex;flex-wrap: wrap;justify-content: space-between;}
.card-post-page-content {display: flex;margin: 20px 7.5px;width: 47.3%;height: 240px;border-radius: 5px;-webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,.55);-moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,.55);box-shadow: 0px 5px 10px 0px rgba(0,0,0,.55);transition: .3s;}
.card-post-page-content:hover {-webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,.75);-moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,.75);box-shadow: 0px 5px 10px 0px rgba(0,0,0,.75);transition: .3s;}
.card-post-page-thumbnail {width: 100%;height: 100%;background-size: cover;background-position: center;background-repeat: no-repeat;}
.card-post-thumbnail {background-size: cover;background-position: center;background-repeat: no-repeat;}
.comments-area {max-width: 1200px;margin: 0 auto;}
.comment-subscribe-block {display: flex;flex-wrap: wrap;justify-content: space-between;margin: 0 130px 40px 130px;}
.card-add-comment {padding: 40px 40px 0 40px;}
.card-add-comment, .card-subscribe {margin: 20px 7.5px;border-radius: 4px;width: 41.3%;min-width: 255px;-webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,.55);-moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,.55);box-shadow: 0px 5px 10px 0px rgba(0,0,0,.55);transition: .3s;}
.card-add-comment:hover, .card-subscribe:hover {-webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,.75);-moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,.75);box-shadow: 0px 5px 10px 0px rgba(0,0,0,.75);transition: .3s;}
.es_caption {background-color: #114867;color: #fff;font-weight: bold;font-size: 24px;padding: 25px 0;}
.es_txt_email {margin: 40px 0 20px 0;}
.comment-form-author>input, .comment-form-email>input, .comment-form-comment>textarea, .es_txt_email {border: 1px solid transparent;border-bottom: 1px solid #aaa;}
.comment-form-author>label, .comment-form-email>label, .comment-form-comment>label {display: none;}
.emaillist {text-align: center;}
.es_subscription_form_submit, .submit {border-radius: 5px;padding: 8px 18px;font-size: 16px;font-weight: bold;color: #fa7268;background: transparent;border: 2px solid;transition: .3s;}
.es_subscription_form_submit:hover, .submit:hover {color: #fff;background: #fa7268;border: 2px solid #fa7268;transition: .3s;}
.question_container {cursor: pointer;max-width: 1200px;border: 1px solid rgba(17,72,103,.75);border-radius: 5px;}
.question_container p {margin: 5px 15px;}
.p-r {position: relative;}
.pa-t-r {position: absolute;right: 0;top: 4px;}
.wp-block-column>section>div>p>a, .t-d-n a {color: #666;text-decoration: none;}
.t-d-n p {margin: 0;}
.p-30 {padding: 30px 0 30px 0 !important;}
.send_button {color: #fa7268;background: transparent;border: 2px solid;border-radius: 5px;padding: 8px 18px;font-size: 16px;font-weight: bold;transition: .3s;}
.send_button:hover {background: #fa7268;color: #fff;transition: .3s;}
.modal {display: none;position: fixed;z-index: 999;padding-top: 100px;left: 0;top: 0;width: 100%;height: 100%;overflow: auto;background-color: #000;background-color: rgba(0,0,0,.4);}
.modal-content {background-color: #fefefe;margin: auto;width: 280px;height: 350px;border-radius: 5px;}
.modal_header {width: 100%;background-color: #114867;color: #fff;text-align: center;margin-bottom: 30px;}
.modal_header>h3 {padding: 15px 0 30px 0;margin: 0;}
.modal_body {padding: 30px;text-align: center;}
.modal_name, .modal_phone, .modal_comment {width: 86%;border: none;}
.modal_name:before {z-index: 999;position: relative;}
.modal_phone:before {background-image: url("../img/ico/m_ph.png");}
.modal_comment:before {background-image: url("../img/ico/m_com.png");}
.n_ico, .ph_ico, .txt_ico {display: block;width: 20px;height: 20px;float: left;margin: 1px 6px 0 0;}
.n_ico {background: url("../images/ico/m_nm.png") no-repeat;}
.ph_ico {background: url("../images/ico/m_ph.png") no-repeat;}
.name_cont {border: 1px solid transparent;border-bottom: 1px solid #eee;margin-bottom: 25px;}
.ph_cont {border: 1px solid transparent;border-bottom: 1px solid #eee;margin-bottom: 25px;}
.close {position: relative;color: #000;top: -10px;right: -270px;width: 20px;height: 20px;background: url("../images/ico/m_close.png") no-repeat;background-size: cover;}
.close:hover, .close:focus {color: #b32235;text-decoration: none;cursor: pointer;}
.btn {display: none;top: 15px;right: 10px;cursor: pointer;position: fixed;width: 30px;height: 20px;z-index: 14000;}
.btn-global {backface-visibility: hidden;position: absolute;left: 0;border-top: 2px solid white;width: 100%;-webkit-box-shadow: 0px 2px 0px 0px rgba(17,72,103,1);-moz-box-shadow: 0px 2px 0px 0px rgba(17,72,103,1);box-shadow: 0px 2px 0px 0px rgba(17,72,103,1);transition: .55s;}
.btn-top {top: 0;}
.btn-middle {top: 9px;}
.btn-bottom {top: 18px;}
.btn-top-click {backface-visibility: hidden;top: 15px;transform: rotate(50deg);transition: .55s .5s;}
.btn-middle-click {opacity: 0;}
.btn-bottom-click {backface-visibility: hidden;top: 15px;transform: rotate(-410deg);transition: .55s .5s;}
#menu-item-2182>a>i, #menu-item-2181>a>i {display: none;}
@media (min-width: 150px) and (max-width: 575.98px) {.site-header {padding: 15px 0 10px;}
	.btn {display: block;}
	.header-info {display: none;position: absolute;position: fixed;background-color: #114867;width: 100%;height: 100%;overflow: scroll;top: 0;z-index: 13999;}
	.secondary-navigation {flex-direction: column;}
	.main-navigation {border-bottom: none;}
	.main-navigation ul, .main-navigation ul ul {display: block;box-shadow: none;}
	.main-navigation ul ul {float: none;position: relative;top: 0;left: 0;}
	#primary-menu a {padding: 10px 20px 0;}
	#menu-item-2183>a>i:first-child, #menu-item-2182>a>i, #menu-item-2181>a>i {display: none;}
	.search-field {border: 1px solid transparent;border-bottom: 1px solid rgba(255,255,255,.75);width: 100%;border-radius: 0;}
	#category-navigation {margin: 0;padding: 0;border: none;border-radius: 0;}
	#category-menu li:hover > ul, .main-navigation ul li.focus > ul {left: 0;top: 0;width: 100%;padding: 3px 10px 10px 10px;border-bottom: none;border-left: none;border-right: none;border-radius: 0;border-top: none;}
	#phone-menu li:hover > ul, .main-navigation ul li.focus > ul {left: 0;top: 0;width: auto;border-bottom: none;}
	#text-2 {margin: 0 0 10px 0;background-color: #114867;}
	#phone-navigation {margin: 0 0 10px 0;font-weight: 500;padding: 10px 0 0 0;}
	.main-navigation li {float: none;}
	.wp-block-columns, .sp-post-carousel-section, .card-post-slider, .card-comment-slider, .entry-content>p, figure {margin: 0 20px;}
	.slick-arrow {display: none !important;}
	.site-footer {display: flex;flex-wrap: wrap;justify-content: center;}
	footer .footer-info-area {text-align: center;}
	footer .store-phone-area, footer .office-phone-area {display: none;}
	.comment-subscribe-block {justify-content: center;margin: 0 20px;}
	.card-add-comment, .card-subscribe {margin: 0 0 20px 0;padding: 20px;width: 265px;}
	.comment-form-author input, .comment-form-email input {width: 100%;}
	.form-submit {margin: 0;}
	.nextend-thumbnail-inner {display: none;}
	.card-post-page-content {width: 100%;}
	.card-post-title, .card-post-excerpt {margin: 0 20px;}
	.entry-content>.wp-block-button, .question_container {margin: 20px 20px;}}
@media (min-width: 576px) and (max-width: 919.98px) {.site-header {padding: 15px 0 10px;}
	.btn {display: block;}
	.wp-block-column {flex-basis: 100%;}
	.wp-block-column {margin: 15px 40px;}
	.header-info {display: none;top: 0;left: 0;position: absolute;position: fixed;background-color: #114867;width: 36%;height: 100%;overflow: scroll;z-index: 13999;}
	.secondary-navigation {flex-direction: column;}
	.main-navigation {border-bottom: none;}
	.main-navigation ul, .main-navigation ul ul {display: block;box-shadow: none;}
	.main-navigation ul ul {float: none;position: relative;top: 0;left: 0;}
	#primary-menu a {padding: 10px 20px 0;}
	#menu-item-2183>a>i:first-child, #menu-item-2182>a>i, #menu-item-2181>a>i {display: none;}
	.search-field {border: 1px solid transparent;border-bottom: 1px solid rgba(255,255,255,.75);width: 100%;border-radius: 0;}
	#category-navigation {margin: 0;padding: 0;border: none;border-radius: 0;}
	#category-menu li:hover > ul, .main-navigation ul li.focus > ul {left: 0;top: 0;width: 100%;padding: 3px 10px 10px 10px;border-bottom: none;border-left: none;border-right: none;border-radius: 0;border-top: none;}
	#phone-menu li:hover > ul, .main-navigation ul li.focus > ul {left: 0;top: 0;width: auto;border-bottom: none;}
	#text-2 {margin: 0 0 10px 0;background-color: #114867;}
	#phone-navigation {margin: 0 0 10px 0;font-weight: 500;padding: 10px 0 0 0;}
	.main-navigation li {float: none;}
	.wp-block-columns, .sp-post-carousel-section, .card-post-slider, .card-comment-slider, .entry-content>p, figure {margin: 0 40px;}
	.slick-arrow {display: none !important;}
	.site-footer {display: flex;flex-wrap: wrap;justify-content: center;}
	footer .footer-info-area {text-align: center;}
	footer .store-phone-area, footer .office-phone-area {display: none;}
	.comment-subscribe-block {justify-content: center;margin: 0 20px;}
	.card-add-comment, .card-subscribe {margin: 0 20px 20px;padding: 20px;width: 265px;}
	.comment-form-author input, .comment-form-email input {width: 100%;}
	.form-submit {margin: 0;}
	.nextend-thumbnail-inner {display: none;}
	.card-post-page-content {width: 100%;}
	.card-post-title, .card-post-excerpt {margin: 0 40px;}
	.entry-content>.wp-block-button, .question_container {margin: 20px 20px;}}
@media (min-width: 920px) and (max-width: 1199.98px) {}
